@media screen and (max-width: 900px) {
    .container-fluid {
        margin-bottom: 10rem;
    }
}

@media screen and (min-width: 901px) {
    .container-fluid {
        margin-bottom: 5rem;
    }
}

.bookList.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bookList.card-body {
    flex: 1;
}

.bookList.card {
    display: flex;
    background-color: #17141d;
    transition: 0.4s ease-out;
    position: relative;
}

.bookList.card:hover~.bookList.card {
    position: relative;
    left: 50px;
}

.bookList.card-title {
    color: #e8e8e8;
}

.bookList.card-header {
    background-color: #4868b1;
}

.bookList.card .bookList.card-body {
    background-color: #d2cdb0;
    box-shadow: 1px -1px 3rem 0px rgba(0, 0, 0, 0.75) inset;
    transition: all 1s;
}

.bookList.card:hover {
    cursor: pointer;
}

.bookList.card:hover .bookList.card-body {
    background-color: #d2cdb0;
    box-shadow: 1px -1px 3rem 0px rgba(0, 0, 0, 0) inset;

    cursor: pointer;
}

#sticky-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 1rem;
    background-color: #21252957;
}

div.book.nav-container {
    background-color: rgba(87, 86, 86, 0.026);
    border-radius:  1rem;
    box-shadow: inset 0px 0px 1rem 0px rgba(255, 255, 255, 0.197);
    padding: 1rem;
    backdrop-filter: blur(2rem)
  }
  div.book.nav-container > nav > h1{
    color: #5c7ed0;
  }
  
  nav .form-label{
    color: white;
    font-weight:inherit;
  }

  input.book.form-control::placeholder, select.book.form-select::placeholder{
    color: rgba(255, 255, 255, 0.658);
  }
  
  input.book.form-control:focus, select.book.form-select{
    border: none;
    box-shadow: none;
  }

  div.bookList.text-center.mt-4 > h1{
    color: white;
  }