.character.card {
    border: none;
}

.character.card-body {
    display: flex;
    flex-wrap: wrap;
}

label {
    font-size: x-large;
    font-weight: bolder;
}

.character.card-title {
    color: #e8e8e8;
}

.character.card-header {
    background-color: #525949;
}

.character.card .card-body {
    background-color: #d2cdb0;
    box-shadow: 1px -1px 3rem 0px rgba(0, 0, 0, 0.75) inset;
    transition: all 1s;
}

#character-left-column {
    border-radius: 1rem;
    box-shadow: -0px 0px 0.5rem 0px rgba(0, 0, 0, 0.281) inset;
}

h4 {
    font-size: x-larger;
}

.character.spinner-border {
    color: #525949;
}